clk_wiz_0_synth_?/
fifo_generator_0_synth_?/
fifo_generator_1_synth_?/
fifo_generator_2_synth_?/
impl_?/
proc_sys_reset_0_synth_?/
proc_sys_reset_1_synth_?/
synth_?/
*.cache/
*.hw/
*.runs/
*.sim/
*.ip_user_files/
