*.xdc
*_stub.v*
*_sim_netlist.v*
*.dcp
sim/
synth/

hw_handoff/
ipshared/
system_100T/system_100T.bmm
system_100T/ip/system_100T_PmodACL2_0_1/src/
system_100T/ip/system_100T_PmodCLS_0_1/src/
system_100T/ip/system_100T_axi_quad_spi_0_0/netlist/
system_100T/ip/system_100T_axi_smc_0/bd_0/ip/
system_100T/ip/system_100T_clk_wiz_0_0/system_100T_clk_wiz_0_0.v
system_100T/ip/system_100T_clk_wiz_0_0/system_100T_clk_wiz_0_0_clk_wiz.v
system_100T/ip/system_100T_microblaze_0_0/data/
system_100T/ip/system_100T_mig_7series_0_0/system_100T_mig_7series_0_0/user_design/
system_35T/hdl/
system_35T/ip/system_35T_PmodACL2_0_0/src/
system_35T/ip/system_35T_PmodCLS_0_0/src/
system_35T/ip/system_35T_axi_quad_spi_0_0/netlist/
system_35T/ip/system_35T_axi_smc_0/bd_0/hdl/
system_35T/ip/system_35T_clk_wiz_0_0/system_35T_clk_wiz_0_0.v
system_35T/ip/system_35T_clk_wiz_0_0/system_35T_clk_wiz_0_0_clk_wiz.v
system_35T/ip/system_35T_microblaze_0_0/data/
system_35T/ip/system_35T_mig_7series_0_0/system_35T_mig_7series_0_0.veo
system_35T/system_35T.bmm
